@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,700);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
 * -------------------------------------------
 *  $_Font Stacks
 * -------------------------------------------
 */
/*
 * -------------------------------------------
 *  $_Mixins
 *  
 *  These are essentially SASS formulas.
 * -------------------------------------------
 */
/*
 * -------------------------------------------
 *  $_Global Variables / Definitions
 * -------------------------------------------
 */
/*
 * -------------------------------------------
 *  $_Colors
 * -------------------------------------------
 */
/*
 * -------------------------------------------
 *  $_Global Styles
 * -------------------------------------------
 */
/* line 87, ../stylesheets/screen.scss */
body {
  font: 16px "Roboto", Helvetica, sans-serif;
  color: #00003c;
  letter-spacing: 0.1em;
  font-weight: 300;
  background: #eaeaea;
}

/* line 94, ../stylesheets/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
}

/*
 * -------------------------------------------
 *  $_General Containers
 * -------------------------------------------
 */
/* line 110, ../stylesheets/screen.scss */
.sheet-global {
  max-width: 1280px;
  margin: 0 auto;
  background: #14dcdc url("../img/bkTile.png") fixed;
  box-shadow: 0 0 4px #8a8a8a;
}

/* line 116, ../stylesheets/screen.scss */
.container {
  min-width: 250px;
}

/* line 117, ../stylesheets/screen.scss */
.contentBlock {
  padding: 2em 1em;
  margin: 1em 0;
}

/*
 * -------------------------------------------
 *  $_Section Styles
 * -------------------------------------------
 */
/* line 129, ../stylesheets/screen.scss */
header {
  background: #f8e3b6 url("../img/hero_face4.jpg") no-repeat left center;
  color: #00003c;
  max-height: 645px;
}
/* line 133, ../stylesheets/screen.scss */
header h1, header p {
  background-color: rgba(240, 240, 240, 0.5);
  padding: 0.1em 0.25em;
  opacity: 1;
}
/* line 134, ../stylesheets/screen.scss */
header h1 {
  font-size: 4em;
}
/* line 135, ../stylesheets/screen.scss */
header p {
  font-size: 1.25em;
  font-weight: 300;
}
/* line 136, ../stylesheets/screen.scss */
header .container {
  padding-top: 25%;
  padding-bottom: 25%;
}

@media (max-width: 50em) {
  /* line 142, ../stylesheets/screen.scss */
  header {
    background-size: cover;
  }
}
/* line 146, ../stylesheets/screen.scss */
.contentBlocks {
  padding: 8em 0;
}
/* line 148, ../stylesheets/screen.scss */
.contentBlocks .contentBlock {
  color: #0a0a1e;
  font-weight: 100;
  border: 1px solid black;
  overflow: hidden;
}
/* line 153, ../stylesheets/screen.scss */
.contentBlocks .contentBlock p {
  font-size: 2.5em;
}
/* line 154, ../stylesheets/screen.scss */
.contentBlocks .contentBlock:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  color: #0a0a1e;
}

/* line 162, ../stylesheets/screen.scss */
.externalLinks {
  color: #f0f0f0;
  background: #000028;
}
/* line 165, ../stylesheets/screen.scss */
.externalLinks a {
  color: #f0f0f0;
  padding: 0.5em 0;
  overflow: visible;
  text-align: center;
}
/* line 170, ../stylesheets/screen.scss */
.externalLinks a:hover {
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 0.25em;
  background-position-y: 30%;
  background-position-x: 20%;
  -webkit-transition: background-position-y 0.5s ease, background-position-x 1s ease, letter-spacing 0.5s ease;
}
/* line 179, ../stylesheets/screen.scss */
.externalLinks .nav-bk {
  background-position: 0 50%;
  background-repeat: no-repeat;
}
/* line 183, ../stylesheets/screen.scss */
.externalLinks .nav-dribbble {
  background-image: url(../img/nav/dribbble.png);
}
/* line 184, ../stylesheets/screen.scss */
.externalLinks .nav-twitter {
  background-image: url(../img/nav/twitter.png);
}
/* line 185, ../stylesheets/screen.scss */
.externalLinks .nav-spotify {
  background-image: url(../img/nav/spotify.png);
}
/* line 186, ../stylesheets/screen.scss */
.externalLinks .nav-linkedin {
  background-image: url(../img/nav/linkedin.png);
}
/* line 187, ../stylesheets/screen.scss */
.externalLinks .nav-codepen {
  background-image: url(../img/nav/codepen.png);
}
/* line 188, ../stylesheets/screen.scss */
.externalLinks .nav-github {
  background-image: url(../img/nav/github.png);
}

@media (max-width: 30em) {
  /* line 192, ../stylesheets/screen.scss */
  .externalLinks {
    display: none;
  }
}
/* line 195, ../stylesheets/screen.scss */
footer {
  text-align: center;
  font-style: italic;
  padding: 1em;
  font-size: 0.75em;
  color: #a3a3a3;
  background-color: #00001d;
}
