/**********************
* TYPOGRAPHY-SPECIFIC
* Lol self-explanatory
**********************/


/* - - - - -
Base styles
- - - - - */
html, body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 10px;
}


/* - - - - - - - - -
Font sizes (default)
- - - - - - - - - */
/* Vars */
$h1_size: 3.6rem;
$h2_size: 2.4rem;
$h3_size: 1.8rem;
$p_size: 1.6rem;

h1 {
  font-size: $h1_size;
  font-family: 'Vollkorn', serif;
  color: $color_accent1;
  font-weight: 600;
  line-height: 1.2;
  //text-shadow: 0 0 10px rgba(240,96,103,0.32);
}
h2 {
  font-size: $h2_size;
  font-weight: 300;
  line-height: 1.2;
  //text-shadow: 0 0 10px rgba(240,234,227,0.24);
}
h3 {
  font-size: $h3_size;
  font-weight: 300;
  line-height: 1.2;
  opacity: 0.75;
}
p, span, a {
  font-size: $p_size;
  line-height: 1.2;
}

a {
  $color: $color_accent2;

  color: $color;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px dashed $color;
  &:active, &:visited {
    color: $color;
  }
}

/* High resolution devices */
@media (-webkit-min-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(min--moz-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5) {
  * {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

/* Tablets+ */
@media screen and (min-width: 76rem) {
  h1 {
   color: orange;
   font-size: ($h1_size * 1.5);
  }
}


/* - - - - -
Base margins
- - - - - */
h1 {
  margin-bottom: 1.2rem;
}
h2, h3 {
  margin-bottom: 1.6rem;
}
p { margin-bottom: 1.4rem; }
p:last-child { margin-bottom: 0; }
