/**********************
* COMMON VARIABLES
* Foundational values
**********************/


/* - - - - - -
Common spacing
- - - - - - */
$padding_side: 2.4rem;


/* - - - - -
Brand colors
- - - - - */
$denim: #0B0E1F;
$salt: #F0EAE3;
$fossil: #7B7775;
$baby: #79B2EB;
$cerulean: #009DE4;
$spruce: #1F3751;
$mustard: #E6BD09;
$strawberry: #F06067;


/* - - - - -
Site colors
- - - - - */
$color_dark: $denim;
$color_light: $salt;
$color_grey: $fossil;
$color_blue-base: $cerulean;
$color_blue-light: $baby;
$color_blue-shade: $spruce;
$color_accent1: $strawberry;
$color_accent2: $mustard;