/**********************
* ALL OF THE STYLES
* Base import sheets
**********************/
@import "imports";
@import "vars";
@import "reset";
@import "typography";

/* - - - - -
Base styles
- - - - - */
* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

// Prototype
// TODO: Remove this for prod
html, body {
  background-color: darken($color_grey, 30%);
}
#app {
  max-width: 800px;
  margin: auto;
  box-shadow: 0 0 10rem rgba(black, 0.5);
}