div.page_index
    h1 Articles by Coty Beasley
    h3 Musings, notes, thoughts, and nonsense.
    a.return(href="https://coty.design")="Return to main site"
    section.posts
        for post, slug in public.articles._data
            a.item(href="/articles/#{ slug }")
                div.article
                    div.container
                        div.thumb(style='background-image: url(/assets/images/' + post.headerImage + ');')
                        div.text
                            span.title= post.title
                            span.date= post.date