/* Font Stacks */
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,700);





/* Global Variables / Definitions */
$font-stack: 'Roboto', Helvetica, sans-serif;






/* Colors */
$color-offBlack: rgb(10, 10, 30);
$color-offWhite: rgb(240, 240, 240);
$color-offWhite-bg: rgba(240, 240, 240, 0.5);
$color-sepia: rgb(248, 227, 182);
$color-sepia-darker: rgb(228, 207, 162);
$color-sepia-bg: rgba(248, 227, 182, 0.75);
$color-seafoam-bg: rgba(191, 214, 175, 0.75);
$color-navy: rgb(0, 0, 60);
$color-navy-bg: rgba(0, 0, 60, 0.95);






/* Global Styles */
body {
    font: 16px $font-stack;
    color: $color-navy;
    letter-spacing: 0.1em;
    font-weight: 300;
    background: $color-offBlack url('../img/bkTile-site.png') fixed;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
    font-weight: 300;
}






/* General Container Styles */
.sheet-global {
    max-width: 1400px;
    margin: 0 auto;
    background: $color-sepia-darker url('../img/bkTile.png') fixed;
}
.container { min-width: 250px; }
.contentBlock{ padding: 2em 1em; margin: 1em 0; }





/* Section Styles */
header{ 
  background: $color-sepia url('../img/hero_face4.jpg') no-repeat left center;
  color: $color-navy;
  h1, p { background-color: $color-offWhite-bg; padding: 0.1em 0.25em; opacity: 1;}
  h1{ font-size: 4em; }
  p { font-size: 1.25em; font-weight: 300; }
  .container {
    padding-top: 25%;
    padding-bottom: 25%;
  }
}
@media (max-width: 800px) {
  header {
    background-size: cover;
  }
}
.contentBlocks { 
  margin-top: 1em;
  .contentBlock{
    color: $color-offWhite;
    font-weight: 100;
    background: $color-navy-bg;
    overflow: hidden;
    p { font-size: 2.5em; }
  }
}
.externalLinks {
  color: $color-offWhite;
  background: $color-navy;
  padding-bottom: 0.25em;
  a {
    color: $color-offWhite;
    margin-top: 0.25em;
  }
}
