/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";





/*
 * -------------------------------------------
 *  $_Font Stacks
 * -------------------------------------------
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,700);





/*
 * -------------------------------------------
 *  $_Mixins
 *  
 *  These are essentially SASS formulas.
 * -------------------------------------------
 */

// Px -> EM Conversion
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

// RGB -> RGBa
@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

// Cross-Browser Transition
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}





/*
 * -------------------------------------------
 *  $_Global Variables / Definitions
 * -------------------------------------------
 */

$browser-context: 16;
$font-stack: 'Roboto', Helvetica, sans-serif;






/*
 * -------------------------------------------
 *  $_Colors
 * -------------------------------------------
 */

$color-offBlack: rgb(10, 10, 30);
$color-offWhite: rgb(240, 240, 240);
$color-offWhite-bg: rgba(240, 240, 240, 0.5);
$color-floralWhite: rgb(255, 250, 240);
$color-gainsboro: rgb(225,225,213);
$color-mandarin: rgb(209,65,54);
$color-sepia: rgb(248, 227, 182);
$color-sepia-darker: rgb(228, 207, 162);
$color-sepia-bg: rgba(248, 227, 182, 0.75);
$color-navy: rgb(0, 0, 60);
$color-navy-bg: rgba(0, 0, 60, 0.6);





/*
 * -------------------------------------------
 *  $_Global Styles
 * -------------------------------------------
 */

body {
    font: 16px $font-stack;
    color: $color-navy;
    letter-spacing: 0.1em;
    font-weight: 300;
    background: $color-gainsboro;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
    font-weight: 300;
}






/*
 * -------------------------------------------
 *  $_General Containers
 * -------------------------------------------
 */

.sheet-global {
    max-width: 1280px;
    margin: 0 auto;
    background: $color-floralWhite url('../img/bkTile.png') fixed;
    box-shadow: 0 0 4px darken($color-offWhite, 40%);
}
.container { min-width: 250px; }
.contentBlock{ padding: 1em; margin: 1em 0; }





/*
 * -------------------------------------------
 *  $_Section Styles
 * -------------------------------------------
 */

.mainHero { 
  background: $color-floralWhite no-repeat left center;
  color: $color-navy;
  max-height: 645px;
  section { cursor: help }
  h1, p { background-color: $color-offWhite-bg; padding: 0.1em 0.25em; opacity: 1;}
  h1{ font-size: 4em; }
  p { font-size: 1.25em; font-weight: 300; }
  .container {
    padding-top: 25%;
    padding-bottom: 25%;
  }
}
@media (max-width: em(800)) {
  .mainHero {
    background-size: cover;
  }
}

.intro { 
	margin-top: 3em;
	h1 { line-height: 150%; }	
	aside { 
		font-size: 2em;
		color: $color-mandarin; 
		font-weight: 300;
	}
}

.contentBlocks { 
	padding: 3em 0 5em;
 	.contentBlock{
    	color: $color-offBlack;
    	font-weight: 100;
    	border: 1px solid $color-navy;
    	border-bottom-width: 8px;
    	border-left-width: 3px;
    	overflow: hidden;
    	border-radius: 0.25em;
    	p { font-size: 2.5em; margin-bottom: 0; }
      &:hover {
        cursor: pointer;
        background-color: $color-navy;
        border-color: $color-navy;
        color: $color-offWhite;
        @include transition(border-width 0.5s ease, background-color 0.25s ease);
        p { 
        	margin-left: 0.5em;
        	@include transition(margin 0.5s ease);
        }
      }
  }
}
.externalLinks {
  color: $color-offWhite;
  background: darken($color-navy, 4%);
  a {
    color: $color-offWhite;
    padding: 0.5em 0;
    overflow: visible;
    text-align: center;
    &:hover { 
    	text-decoration: none;
    	font-weight: 400;
    	letter-spacing: 0.25em;
    	background-position-y: 30%;
    	background-position-x: 20%;
    	@include transition(background-position-y 0.5s ease, background-position-x 1s ease, letter-spacing 0.5s ease);
    }
  }
  .nav-bk { 
  	background-position: 0 50%;
  	background-repeat: no-repeat;
  }
  .nav-dribbble { background-image: url(../img/nav/dribbble.png); }
  .nav-twitter { background-image: url(../img/nav/twitter.png); }
  .nav-spotify { background-image: url(../img/nav/spotify.png); }
  .nav-linkedin { background-image: url(../img/nav/linkedin.png); }
  .nav-codepen { background-image: url(../img/nav/codepen.png); }
  .nav-github { background-image: url(../img/nav/github.png); }
}

@media (max-width: em(480)) {
  .externalLinks { display: none; }
}

footer { 
	text-align: center;
	font-style: italic;
	padding: 1em;
	font-size: 0.75em;
	color: darken($color-offWhite, 30%);
	background-color: darken($color-navy, 6%); }




