/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";





/* Font Stacks */
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,700);





/* Global Variables / Definitions */
$font-stack: 'Roboto', Helvetica, sans-serif;






/* Colors */
$color-offBlack: rgb(10, 10, 30);
$color-offWhite: rgb(240, 240, 240);
$color-offWhite-bg: rgba(240, 240, 240, 0.5);
$color-sepia: rgb(248, 227, 182);
$color-sepia-darker: rgb(228, 207, 162);
$color-sepia-bg: rgba(248, 227, 182, 0.75);
$color-seafoam-bg: rgba(191, 214, 175, 0.75);
$color-navy: rgb(0, 0, 60);
$color-navy-bg: rgba(0, 0, 60, 0.95);





/* Global Styles */
body {
    font: 16px $font-stack;
    color: $color-navy;
    letter-spacing: 0.1em;
    font-weight: 300;
    background: #eaeaea;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
    font-weight: 300;
}






/* General Container Styles */
.sheet-global {
    max-width: 1400px;
    margin: 0 auto;
    background: $color-sepia-darker url('../img/bkTile.png') fixed;
    box-shadow: 0 0 20px $color-offBlack;
}
.container { min-width: 250px; }
.contentBlock{ padding: 2em 1em; margin: 1em 0; }





/* Section Styles */
header{ 
  background: $color-sepia url('../img/hero_face4.jpg') no-repeat left center;
  color: $color-navy;
  h1, p { background-color: $color-offWhite-bg; padding: 0.1em 0.25em; opacity: 1;}
  h1{ font-size: 4em; }
  p { font-size: 1.25em; font-weight: 300; }
  .container {
    padding-top: 25%;
    padding-bottom: 25%;
  }
}
@media (max-width: 800px) {
  header {
    background-size: cover;
  }
}
.contentBlocks { 
	padding: 8em 0;
 	.contentBlock{
    	color: $color-offWhite;
    	font-weight: 100;
    	background: $color-navy-bg;
    	overflow: hidden;
    	p { font-size: 2.5em; }
  }
}
.externalLinks {
  color: $color-offWhite;
  background: $color-navy;
  a {
    color: $color-offWhite;
    padding: 1em 0;
    overflow: visible;
    text-align: center;
    &:hover { 
    	text-decoration: none;
    	font-weight: 400;
    	letter-spacing: 0.25em;
    	background-position-y: 30%;
    	background-position-x: 20%;
    	-webkit-transition:background-position-y 0.5s ease, background-position-x 1s ease, letter-spacing 0.5s ease;
    }
  }
  .nav-bk { 
  	background-position: 0 50%;
  	background-repeat: no-repeat;
  }
  .nav-dribbble { background-image: url(../img/nav/dribbble.png); }
  .nav-twitter { background-image: url(../img/nav/twitter.png); }
  .nav-spotify { background-image: url(../img/nav/spotify.png); }
  .nav-linkedin { background-image: url(../img/nav/linkedin.png); }
  .nav-codepen { background-image: url(../img/nav/codepen.png); }
  .nav-github { background-image: url(../img/nav/github.png); }
}

footer { 
	text-align: center;
	font-style: italic;
	padding: 1em;
	font-size: 0.75em;
	color: darken($color-offWhite, 30%);
	background-color: darken($color-navy-bg, 6%); }




