[class^="page_"] {
  padding: $padding_side;
  max-width: 800px;
  margin: 0 auto;
}

a, a:hover, a:visited, a:active {
  padding: 0.1rem 0.25rem;
}

a.breadcrumb {
  margin-bottom: 1.6rem;
  padding: 0.5rem 1rem;
}