/**********************
* INDEX PAGE
* index.html
**********************/

.page_index {
  section.posts {
    margin-top: 1.6rem;
    display: flex;
    flex-flow: column;
  }
  a.return {
    margin-top: 0.8rem;
    margin-bottom: 1.6rem;
  }
  .posts {
    a.item, a.item:hover, a.active {
      all: unset;
      width: 100%;
      cursor: pointer;
    }
  }
  .article {
    // Vars
    $padding: 1.6rem;

    // Styles
    width: 100%;
    margin-bottom: 0.8rem;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    transition: all ease-in-out 0.2s;
    box-shadow: 2px 2px 4px rgba(black, 0.05);
    padding: $padding;
    display: inline-block;
    .container {
      display: flex;
      align-items: center;

    }
    img.thumb {
      display: none;
    }
    .title {
      font-size: $p_size;
      order: 1;
      font-weight: bold;
    }
    .date {
      margin-top: 0.4rem;
      display: block;
      font-size: $caption_size;
      opacity: 0.75;
      font-style: italic;
      order: 2;
    }
    &:hover {
      transform: translate(2px,-4px);
    }
  }
}

/* Tablets+ */
@media screen and (min-width: 50rem) {
  .page_index {
    .article {
      // Vars
      $padding: 1.6rem;

      // Styles
      padding: 0;
      overflow: hidden;
      width: inherit;

      .thumb {
        display: inline-block;
        height: 7.2rem;
        width: (7.2rem/(3/4));
        margin-right: $padding;
        overflow: hidden;
        background-color: rgba($color_dark, 0.25);
        background-position: center;
        background-size: cover;
      }
    }
  }
}