.post-hero {
  background: $color_dark center;
  background-size: cover;
  color: $color-light;
  padding: 3.2rem 0;
  margin-bottom: 3.2rem;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(black, 0.5);
    z-index: 1;
  }
  h1, h4 {
    text-align: center;
  }
  h4 {
    font-size: $p_size;
    margin-top: 0.8rem;
    opacity: 0.75;
  }
  a, a:hover, a:visited, a:active {
    background: $color-accent3;
  }
  .page_ {
    position: relative;
    z-index: 2;
  }
}
.post_ {
  p {
    margin-bottom: 2.4rem;
    & > code {
      display: block;
      font-size: $h2_size;
      border-left: 4px solid $color_accent3;
      padding-left: 1.6rem;
      font-style: italic;
      margin: 4.8rem 0;
      &:before, &:after {
        content: '"';
      }
    }
    & img {
      max-width: 100%;
      width: 100%;
      border-radius: 8px;
    }
    & img + em {
      display: block;
      font-style: italic;
      font-size: $caption_size;
      margin-bottom: 1.6rem;
    }
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    padding: 0;
    border-top: 1px solid #ccc;
    margin: 3.2rem 0;
  }
}